{% extends 'base.html' %}

{% block content%}
<br>
<h1 align="center">The most expensive cars ever sold!</h1>
<a href="{% url 'create' %}">Create a new car</a>

{% include 'list_view.html' %}

<hr>
<br>

<div class="pagination" align="center">
    <span class="step-links">
        {% if cars.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ cars.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cars.number }} of {{ cars.paginator.num_pages }}.
        </span>

        {% if cars.has_next %}
            <a href="?page={{ cars.next_page_number }}">next</a>
            <a href="?page={{ cars.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<br>
{% endblock %}